<div data-role="page" id="pageone">
	<div class="well well-sm" style="background-image: linear-gradient(to bottom, #1D2F3E 0px, #1D2F3E 100%); color: #C9E1C1;">
		<h3><strong>&nbsp;<span class="glyphicon glyphicon-calendar"></span> Calendar</strong></h3>
		</div>
<!-- <h4><p>This is the 'Calendar' section!</p></h4> -->
<div data-role="main" class="ui-content">
<div data-role="collapsible">
<ul data-role="listview">
<li>
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=480&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=moneywisebc%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="480" frameborder="0" scrolling="no"></iframe>
</li>
<li>			
			<div class="container" style="background-color: #1D2F3E; width:99%;">

				<div class="col-sm-4" style="color: #C9E1C1;"> 
					<h4><span class="glyphicon glyphicon-list-alt"></span> &nbsp;Want To Add An Event?
						<a href="/need-help/need-help/"><button type="button" class="btn btn-warning">Click Here</button></a></h4>
				</div>

				<div class="col-sm-4"></div>

				<div class="col-sm-4" style="color: #C9E1C1;"> 

					<h4 class="pull-right"><p>Click Above To Add This Calendar &nbsp;<span class="glyphicon glyphicon-hand-up"></span></p></h4>

					<!-- <h4 class="text-right"><p> </p></h4> -->
				</div>
			</div>
</li>
</ul>
</div>
</div>
</div>
