
   <form class="navbar-form pull-right" method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        <input type="search" class="search-query"value="{{ search }}" placeholder="Search" name="search">
    </form>

