

<div class="well well-sm" style="background-image: linear-gradient(to bottom, #FCC166 0px, #FCC166 100%);">
	<h3><strong><p><span class="glyphicon glyphicon-list-alt"></span> Upcoming Events</p></strong></h3>
</div>

	<div id="events-div" class="" style="color: #FAFFEF;">

		<iframe id="events-iframe" src="http://moneywisebc.org/events/events/" width="100%" height="590px">
		<p>Your browser does not support iframes.</p>
		</iframe>
	</div>

